
<div class="post">
	<p><%= @post.body %></p>
</div>
<br /><br />
<h2>Comments</h2>
<ul class="post_comments">
<% @post.comments.each do |comment| %>
	<li><%= comment.body %> </li>
<% end %>
</ul>

<br />
<%= link_to "Edit Post", edit_post_path(params[:id]) %> <br />
<%= link_to "Delete Post", @post, :confirm=> "Are you sure you want to delete this post", :method => :delete %>